.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem; /* מוסיף רווח אחיד בין התמונה, הטקסט וכפתור הגלילה */
  padding: 2rem 0; /* שומר שהאלמנטים לא יידבקו לקצוות המסך */
}

.imageContainer {
  max-width: 350px;
}

/* הגדרה קריטית כדי שהתמונה תקטן במסכים קטנים ולא תשבור את האתר */
.mapImage {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(0px) contrast(1.5) brightness(1);
}
.mapImage:hover {
  transition: filter 0.5s ease-in-out;
  filter: blur(0) contrast(1.5) brightness(1.5);
}

.contentContainer {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5rem;
  white-space: pre-line;
}

/* Laptop & Small Desktop*/
@media (max-width: 1279px) {
  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.25rem;
  }
}

/* Tablet Portrait / Large Phones */
@media (max-width: 767px) {
  .hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem; /* מוסיף רווח אחיד בין התמונה, הטקסט וכפתור הגלילה */
    padding: 8rem 1.2rem; /* שומר שהאלמנטים לא יידבקו לקצוות המסך */
  }

  .imageContainer {
    max-width: 250px;
  }

  .title {
    font-size: 4rem; /* גודל מותאם למובייל */
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
