/* Services.module.css */

.services {
  width: 100%;
  min-height: 80vh; /* קצת פחות מ-full height */
  padding: 3rem 1.2rem; /* יותר ריווח נשימה */
  background-color: var(--blue); /* צבע רקע עדין ובהיר */
}

.title {
  font-size: 2.5rem; /* כותרת גדולה יותר */
  font-weight: 800;
  margin-bottom: 3rem;
  text-align: center;
  color: var(--background);
}

.subtitle {
  text-align: center;
  color: var(--background);
  margin: 1rem 1.2rem;
  line-height: 1.5;
}
.cardsGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* טור 1 במובייל */
  gap: 40px; /* ריווח גדול יותר בין הפריטים */
  max-width: 1200px;
  margin: 0 auto; /* מרכוז הגריד */
}

/* מסכים גדולים יותר - 4 טורים */
@media (min-width: 768px) {
  .cardsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* מרכוז האייקון */
  gap: 15px; /* ריווח בין אייקון לכותרת */
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px; /* גודל המעטפת */
  height: 48px;
}

.cardImage {
  object-fit: contain;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--background);
  margin: 0;
  line-height: 1.2;
  margin: 1rem;
}

.cardDescription{
  font-size: 1rem;
  color: var(--background);
  line-height: 1.1;
}